<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">
<head>
    <meta charset="UTF-8">
    <title>User List</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <style>
        .truncate {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 576px; /* 원하는 너비로 조정 */
        }
    </style>
</head>
<body>
<div th:insert="~{/header :: headerFragment}"></div>
<div class="container p-2 my-2 bg-dark text-white">
    <h2>신고 게시글 목록</h2>
</div>
<div class="container mt-3">
    <table class="table table-hover">
        <thead>
        <tr th:class="table-primary">
            <th th:class=".col-">ID</th>
            <th th:class=".col-">작성자</th>
            <th th:class=".col-">작성자레벨</th>
            <th th:class="truncate">글제목</th>
            <th th:class=".col-">신고유형</th>
            <th th:class=".col-">신고자</th>
            <th th:class=".col-">신고횟수</th>
            <th th:class="col-sm-">신고일자</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="report: ${reports}">
            <td th:class=".col-" th:text="${report.id()}"></td>
            <td th:class=".col-" th:text="${report.writerName()}"></td>
            <td th:class=".col-" th:text="${report.userRole()}"></td>
            <td th:class="truncate" th:text="${report.title()}"></td>
            <td th:class=".col-" th:text="${report.reportType()}"></td>
            <td th:class=".col-" th:text="${report.reporterName()}"></td>
            <td th:class=".col-" th:text="${report.reportCount()}"></td>
            <td th:class="col-sm-" th:datetime="${report.reportDate()}"
                th:text="${#dates.format(report.reportDate(), 'yyyy-MM-dd')}"></td>
        </tr>
        </tbody>
    </table>
</div>

<div class="row">
    <nav id="pagination" aria-label="Page navigation" th:with="url='/admin/report-list'">
        <ul class="pagination justify-content-center"
            th:with="start=${pages.getBeginPage()}, end=${pages.getEndPage()}">
            <li th:class="'page-item' + (${pages.showPrev()} ? '' : ' disabled')">
                <a th:class="'page-link' + (${pages.showPrev()} ? '' : ' disabled')"
                   th:href="@{${url}(page=${pages.getPageNumber() - 1}, size=${pages.getSize()},
                   option=${search.option()}, keyword=${search.keyword()})}"
                   th:text="Previous"></a>
            </li>
            <li th:class="page-item" th:each="pagenum: ${#numbers.sequence(start, end)}">
                <a th:class="'page-link' + (${pagenum} == ${pages.getPageNumber()} ? ' disabled' : '')"
                   th:href="@{${url}(page=${pagenum}, size=${pages.getSize()},
                   option=${search.option()}, keyword=${search.keyword()})}"

                   th:text="${pagenum}"></a>
            </li>
            <li th:class="'page-item' + (${pages.showNext()} ? '' : ' disabled')">
                <a th:class="'page-link' + (${pages.showNext()} ? '' : ' disabled')"
                   th:href="@{${url}(page=${pages.getPageNumber() + 1}, size=${pages.getSize()},
                   option=${search.option()}, keyword=${search.keyword()})}"
                   th:text="Next"></a>
            </li>
        </ul>
    </nav>
</div>
<div th:insert="~{/footer :: footerFragment}"></div>
</body>
</html>